<!--<mat-card>-->
<!--  <form action="">-->
<!--    <mat-form-field>-->
<!--      <input matInput type="text" name="title" [(ngModel)]="enteredTitle" placeholder="Title">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <textarea matInput rows="4" [(ngModel)]="enteredContent" placeholder="Content"></textarea>-->
<!--    </mat-form-field>-->
<!--    <button-->
<!--      mat-raised-button-->
<!--      color="primary"-->
<!--      (click)="onAddPost()">Save Post-->
<!--    </button>-->
<!--  </form>-->
<!--</mat-card>-->

<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm = "ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        placeholder="Title"
        #title = "ngModel">
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        placeholder="Content"
        #content = "ngModel"></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post
    </button>
  </form>
</mat-card>
